[data-anima="accordion"] dd {
  transform: translate3d(0, -10px, 0);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.5s ease, height 0.01s;
}

[data-anima="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anima="accordion"] dt.active::after {
  content: " ⬏";
}

[data-anima="accordion"] dd.active {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
  height: 100%;
}
